body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.sidebar {
    width: 200px;
    height: 100vh;
    background-color: #ec3a3a;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
}

.sidebar h1 {
    text-align: left;
    padding: 50px;
    padding-left: 0;
}

.sidebar ul li{
    list-style-type: none;
    padding: 10px;
    padding-left: 0;
    text-align: left;
}

.main-content {
    margin-left: 220px;
    padding: 20px;
}

.packages, .contact {
    margin-bottom: 20px;
}

button {
    padding: 10px;
    margin: 5px;
    cursor: pointer;
}

#thank-you {
    margin-top: 10px;
    font-weight: bold;
}
